body {
	padding: 0;
	margin: 0;
	font-size: 18px;
	font-family: "微軟正黑體","Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #eee;
}

nav {
	background: rgba(49,49,49,0.95);
	position: fixed;
	top: 0;
	width: 100%;
	height: 50px;
	color: #ffffff;
	text-align: center;
	padding-top: 15px;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	color: rgba(1, 1, 1, 0.8);
	z-index: 1;
}

nav li {
	display: inline-block;
	padding: 3px 10px;
}

nav a {
	font-size: 1.1em;
	padding: 5px;
	border-radius: 5px;
	cursor: default;
	color: white;
}

.top {
	padding-top: 100px;	
}

.border {
	border: 3px black solid;
	border-radius: 5px;
}

.mintro {
	padding: 5px 20px;
}

.article {
	width: 100%;
	background-image: url(http://subtlepatterns.com/patterns/skulls.png);
	border-radius: 10px;
	border: 1px gray solid;
	padding: 15px 3px;
	margin: 10px 0px;
}


.contain {
	display: none;
	border-top: 1px gray solid;
	margin-top: 10px;
	padding-top: 5px;
}

.more {
	margin: 48px 20px 0 0;
	padding: 4px;
}

.ntitle {
	font-size: 1.25em;
	font-weight: 700;
}

.memberinfo {
	height: 200px;
	border: 2px gray solid;
	border-radius: 5px;
	margin: 0 0 40px;
}

.mname {
	font-size: 28px;
	padding-right: 10px;
}

.g{
	color: #e67e22;
}

.g:hover{
	color: #d35400;
}

.h{
	color: #e74c3c;
}

.h:hover{
	color: #c0392b;
}

.linkimg {
	display: block;
	margin: 0px auto;
}

#news span {
	display: block;
}

#link .card a {
	display: block;
	padding-top: 30px;
	font-weight: 700;
	color: #222;
	text-shadow: 0px 2px 3px #555;
}

#link .card a:hover {
	text-decoration: none;
	color: #2c3e50;
	-webkit-transition: color .20s linear;
    -moz-transition: color .20s linear;
    transition: color .20s linear;
}

#comments {
	margin: 0 auto;
	width: 960px;
}

footer {
	width: 90%;
	text-align: center;
	margin: 50px auto;
	padding-top: 10px;
	border-top: 1px gray solid;
}

footer p {
	margin-top: 7px;
}

footer img {
	margin-top: 7px;
}

